// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'octicons';
  src: url('../fonts/octicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
$hero: #312736;
$dark: #d4838f;
$light: #d6abb1;
$lightest: #fafafa;
$white: #fff;

// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------
@mixin octicons {
  font-family: octicons;
  -webkit-font-smoothing: antialiased;
}

@mixin stars-and-forks($font-size) {
  b.octicon-star, b.octicon-git-branch {
    font-weight: bold;
    display: inline-block;
    &:before {
      display: inline-block;
      text-align: center;
      font-size: $font-size;
      width: $font-size * 1.4;
    }
  }
}

@mixin to-right {
  float: right;
  clear: right;
}

// -----------------------------------------------------------------------------
// Octicons
// -----------------------------------------------------------------------------
.octicon-git-branch:before {
  @include octicons;
  content: '\f020';
}

.octicon-repo-forked:before {
  @include octicons;
  content: '\f002';
}

.octicon-star:before {
  @include octicons;
  content: '\f02a';
}

// -----------------------------------------------------------------------------
// Main
// -----------------------------------------------------------------------------
body {
  color: $dark;
  background-color: $white;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  background-color: $hero;
  a {
    display: block;
    line-height: 80px;
    padding: 6px 20px;
  }
}

a {
  color: $dark;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#avatar-frame {
  img {
    position: relative;
    top: 14px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}

#projects-info {
  @include to-right;
  @include stars-and-forks(32px);
}

#projects-count {
  font-weight: normal;
  color: $light;
  display: inline-block;
  line-height: 1.3em;
  margin-left: .5em;
}

#repos-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline;
    &:nth-child(odd) a {
      background-color: $lightest;
    }
    a {
      position: relative;
      display: block;
      line-height: 40px;
      padding: 6px 20px;
      overflow: hidden;
      .info {
        @include to-right;
        @include stars-and-forks(16px);
      }
      .desc {
        color: $light;
        display: inline-block;
        line-height: 1.3em;
        margin-left: .5em;
      }
      &:hover {
        color: $white;
        background-color: $hero;
      }
      &.octicon-repo-forked:before {
        position: absolute;
        left: 5px;
      }
    }
  }
}
